body {
    background-image: url('res/darkened-defaultbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: system-ui, Oxygen; color: white;
    text-align: center;
   }

button{
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: 
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

#timer{
    font-size: 8vw;
    font-weight: bold;
    margin: auto;
}

#marquesbrownlee{
    vertical-align: middle;
    margin-top: 30vh;
}

.modeswitch{
    padding: 8px 15px 8px 15px;
    font-family: system-ui, Oxygen; color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
    margin-left: 4px;
    margin-right: 4px;
    border: solid 1px white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    -khtml-border-radius: 50px;
}

.modeswitch:hover{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    font-family: system-ui, Oxygen; color: #333;
    background-color: #EEE;
}

.modeswitch:active{
    font-family: system-ui, Oxygen; color: #333;
    background-color: white;
}

.modeswitch:focus{
    font-family: system-ui, Oxygen; color: #333;
    background-color: white;
}

.modeswitch:visited{
    font-family: system-ui, Oxygen; color: white;
    background-color: transparent;
}


.iconbuttons{
    background-color: transparent;
    border: none;
}

.functionbutton {
    padding: 8px 15px 8px 15px;
    font-family: system-ui, Oxygen; color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
    margin-left: 4px;
    margin-right: 4px;
    border: solid 1px white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    -khtml-border-radius: 50px;
    vertical-align: middle;
}